.sections {
	overflow: hidden;

}
.section {
	float: left;
	padding: 20px;

}
.section .section__head {
	background-color: #c9c9c9;
	padding: 20px;
}
.section .section__head .section__head-square {
	background-color: #2489a7;
	width: 240px;
	height: 150px;
}
.section .section__foot {
	background-color: #aeaeae;
	padding: 20px;
}
.section .section__foot .section__foot-sm-rect {
	background-color: #d47300;
	width: 140px;
	height: 25px;
	margin: 15px 50px 10px  50px;
	

}
.section .section__foot .section__foot-big-rect {
	background-color: #22a653;
	width: 245px;
	height: 40px;


}