@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga|Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga|Dancing+Script|Gupter&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-around;
	background-color: #444939;
	color: #A8AD9C;
}

.header .logo {
	background-image: url(images/logo.png);
	width: 150px;
	height: 80px;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}
.header h1 {
	font-family: 'Bebas Neue', cursive;
	font-family: 'Dancing Script', cursive;
	margin:1.3rem;
	color: #0085A4;

}
.header .nav {
	margin-left: 15rem;
	margin-top: 1.6rem;
}
.header .active {
	color: #0085A4;

}

.header .nav  ul li:after {
	content: "";
	width: 0;
	height: 3px;
	background-color: #7332a8;
	transition: 0.9s;
}

.header .nav  ul li:hover:after{
	width: 100%;
	display: block;
}

.nav ul {
	display: flex;

}
.nav ul li {
	list-style: none;
}

.nav ul li a {
	text-decoration: none;
	margin: 0.6rem;
	color: #A8AD9C;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-family: 'Bebas Neue', cursive;

}
.header .nav ul li a:focus {
	color: #7332a8;
}

.header nav ul li .current {
	color: #7332a8;
}
.body {
	display: flex;
	width: 100%;
	height: 2200px;
	background-image: url(images/abstract.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.body .cards {
	display: flex;
	flex-direction: column;
	margin-left: 250px;
	margin-top: 50px;
}
.cards .card1 i,
.cards .card2 i,
.cards .card3 i,
.cards .card4 i,
.cards .card5 i,
.cards .card6 i {
	margin: 0 auto;
	color: #444939;
	cursor: pointer;
}



.cards .card1 ,
.cards .card2 ,
.cards .card3 ,
.cards .card4 ,
.cards .card5 ,
.cards .card6 {
	width: 220px;
	height: 300px;
	border: 1px solid #2F4858;
	border-radius: 20px;
	box-shadow: 5px 10px 20px 3px #52A750;
	flex-direction: column;
	justify-content:space-around;
	display: flex;
	overflow: hidden;
	margin-top: 30px;
}

.cards .card4 ,
.cards .card5 ,
.cards .card6 {
	

}
/*.cards .card2 ,
.cards .card5 {
	margin:0 50px;
}*/
.cards .card1 .card1__img ,
.cards .card2 .card2__img ,
.cards .card3 .card3__img ,
.cards .card4 .card4__img ,
.cards .card5 .card5__img ,
.cards .card6 .card6__img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 auto;

}

.cards .card1 .card1__text ,
.cards .card2 .card2__text ,
.cards .card3 .card3__text ,
.cards .card4 .card4__text ,
.cards .card5 .card5__text ,
.cards .card6 .card6__text {
	font-family: 'Dancing Script', cursive;
	font-size: 1.5rem;
	padding: 10px;
	text-align: center;
	
}
.cards .card1 .card1__border ,
.cards .card2 .card2__border,
.cards .card3 .card3__border ,
.cards .card4 .card4__border ,
.cards .card5 .card5__border ,
.cards .card6 .card6__border {
	height: 2px;
	width: 70px;
	background-color: #00525F;
	box-shadow: 2px 2px 5px 2px #00525F;
	margin:0 auto;
}

.footer {
	background-color: #86B040;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;

}

.footer .footer__social ul {
	display: flex;
	list-style: none;
	width: 400px;
	justify-content: space-around;
	margin-left: 10px;
	padding: 26px;
}

.footer .footer__social ul li i {
	/*color: #00525F;*/
	/*color: #006F84;*/
	color: #008D71;
}

.footer .footer__nav {
	justify-content: space-around;
}
.footer .footer__nav ul {
 	display: flex;
 	list-style: none;
 	padding: 26px;
 	width: 400px;
 	justify-content: space-around;
 	
}

.footer .footer__nav ul li a {
	text-decoration: none;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-family: 'Bebas Neue', cursive;
	margin: 0.6rem;
}
.footer .rights {
	margin: 1.6rem;
	font-family: 'Bebas Neue', cursive;
	opacity: 0.4;
}