@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga|Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga|Dancing+Script|Gupter&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga|Dancing+Script|Gupter|Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Baskervville|Bebas+Neue|Calistoga|Dancing+Script|Gupter|Lilita+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	justify-content: space-around;
	background-color: #444939;
	color: #A8AD9C;
}

.header .logo {
	background-image: url(images/logo.png);
	width: 150px;
	height: 80px;
	background-size: contain;
	background-position: center;
	cursor: pointer;
}
.header h1 {
	font-family: 'Bebas Neue', cursive;
	font-family: 'Dancing Script', cursive;
	margin:1.3rem;
	color: #0085A4;

}
.header .nav {
	margin-left: 15rem;
	margin-top: 1.6rem;
}
.header .active {
	color: #0085A4;

}

.header .nav  ul li:after {
	content: "";
	width: 0;
	height: 3px;
	background-color: #7332a8;
	transition: 0.9s;
}

.header .nav  ul li:hover:after{
	width: 100%;
	display: block;
}

.nav ul {
	display: flex;

}
.nav ul li {
	list-style: none;
}

.nav ul li a {
	text-decoration: none;
	margin: 0.6rem;
	color: #A8AD9C;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-family: 'Bebas Neue', cursive;

}
.header .nav ul li a:focus {
	color: #7332a8;
}

.body {	
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-image: url(images/sagittis.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.body .form {
	width: 600px;
	height: 560px;
	margin: 50px;
	display: flex;
	flex-direction: column;
	border: 16px solid #F6EDD9;
	border-radius: 1%;
	box-shadow: 15px 15px 5px #00BCDB;

}
.body .form form {
	display: flex;
	flex-direction: column;

}
.body .form h1 {
	margin: 30px auto;
	font-family: 'Lilita One', cursive;
	font-weight: lighter;
	color: #113200;

}

.body .form input {
	width: 200px;
	height: 25px;
	margin-top: 3px;
	border-style: none;
}


/*.body .form:hover {
	width: 650px;
	height: 600px;
	box-shadow: 30px 30px 5px #00BCDB;
	border: 30px solid #F6EDD9;
	transition: 350ms ease-in-out;
}*/

.body .form .item:focus{
	width: 250px;
	transition: 250ms ease-in;

}

.body .form .item--input {
	font-family: 'Lilita One', cursive;
	text-transform: uppercase;
	font-size: 1rem;
	height: 50px;
	cursor: pointer;
}
.body .form .item--input:hover{
	font-size: 1.2rem;
	box-shadow:  5px 5px 15px inset #00BCDB;
}

.body .form label {
	margin-top: 10px;
	font-family: 'Gupter', serif;
	font-weight: bolder;
	font-size: 1.2rem;
	margin: 5px auto 0;
}
.body .form  form .item {
	margin: 5px auto 0;
}
.footer {
	background-color: #86B040;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;

}

.footer .footer__social ul {
	display: flex;
	list-style: none;
	width: 400px;
	justify-content: space-around;
	margin-left: 10px;
	padding: 26px;
}

.footer .footer__social ul li i {
	/*color: #00525F;*/
	/*color: #006F84;*/
	color: #008D71;
}

.footer .footer__nav {
	justify-content: space-around;
}
.footer .footer__nav ul {
 	display: flex;
 	list-style: none;
 	padding: 26px;
 	width: 400px;
 	justify-content: space-around;
 	
}

.footer .footer__nav ul li a {
	text-decoration: none;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-family: 'Bebas Neue', cursive;
	margin: 0.6rem;
}
.footer .rights {
	margin: 1.6rem;
	font-family: 'Bebas Neue', cursive;
	opacity: 0.4;
}