.section-single {
	padding: 30px;
	background-color: #c9c9c9;
	overflow: hidden;


}

.section-single ~ .section-single {
	margin-top: 40px;
}

.section-single .section__square {
	width: 200px;
	height: 200px;
	background-color: #d47300;
}
.section--center .section__square {
	background-color: #2489a7;
	margin: 0 auto;
}
.section--right .section__square {
	background-color: #22a653;
	float: right;

}